<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Name Placeholder</title>
</head>
<body>
    <h1>Our orders:</h1>
    {% for order in orders %}
    <div>
        <p>
            - <b>{{ order.customer_name}}</b> bought {{ order.quantity }} games(s) on {{ order.order_date }}.
            <p><a href="/order.html">Order details</a></p>
        </p>
    </div>
    {% endfor %}
</body>
</html>