<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Order details</title>
</head>
<body>
    
    <nav>
        <ul><li class=navLink><a href="/orders">Home</a></li></ul>
    </nav>

    <h1 class="order-title">{{ order.customer_name }}'s Order</h1>

    <div class="order-container">
    
        <div class="order">
            <!-- <h2>Game titles: feature TBC</h2> -->
            <h3>{{ order.quantity }} games bought</h3>
            <h4>on {{ order.order_date.strftime("%b %d %Y") }}</h3>

            <h5>Games: feature TBC</h5>
        </div>
    
    </div>

</body>
</html>